// **** Aggiunta controllo
clientConfig.CLIENT_COMPONENTS.push("gisclient-maps_dxfexport:DXFControl:2:print");
//url per i servizi
clientConfig.DXF_SERVICE_URL = clientConfig.GISCLIENT_URL + "/";
//url per la pagina di download
clientConfig.DXF_DOWNLOAD_URL = clientConfig.GISCLIENT_URL + "/services/plugins/dxfexport/dxfDownload.php?fileName=";
//area massima di download
clientConfig.DXF_MAX_AREA = 3000000;
//template standard
clientConfig.DXF_TEMPLATE = "template_dxf.dxf";
//epsg per il download
clientConfig.DXF_EPSG = "25832";
//Temi selezionati di default tutto MINUSCOLO
clientConfig.DXF_THEME_SELECTED = ["base btu", "gas", "acqua", "fognature", "teleriscaldamento"];
//valori di default della UI in base al nome della mappa
clientConfig.DXF_MAPSET_CONFIG = [
	{
		mapset:"mappa_teleriscaldamento",
		config: {
			textScaleMultiplier: 0.50,
			labelScaleMultiplier: 0.50,
			insertScaleMultiplier: 1,
			enableTemplateLayerChecked: false,
			enableColorsChecked: false,
			enableLineThicknessChecked: false,
			exportEmptyLayers: false,
		}
	}
//Elenco dei filtri speciali per il DXF basati sul valore di un campo
//il campo fieldType può avere valori s/i
clientConfig.DXF_PROCESSING_CONFIG = [
	{
		processingId:"",
		processingName:"",
		themes: [],
		field:"",
		fieldType:"",
		value:"",
		tables:[
			{
				tableName:"",
				tableNameSql:"",
				sqlAdditionalFilter:"",
				geometryField:""
			}
		]
	}
]